body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

.mycontainer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.mycol {
    float: left;
    width: 33.3%;
}

.box {
    margin: 10px;
}

    .box a:link {
        text-decoration: none;
    }

    .box a:hover {
        color: #f21134
    }
